@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);

  /* ### Neutral */

  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: url(/images/bg-header-desktop.png) no-repeat center;
  width: 100%;
  height: 100%;
  background-size: cover;
}

body {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  height: 100%;
}

.landing-page-first-header,
.last-section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 8.125rem;
}

.first-header-h1,
.header-h1 {
  margin-top: 4.063rem;
  margin-bottom: 0;
  font-size: 2.45rem;
  text-align: center;
}

.first-header-h1,
.first-section-h2,
.section-h2,
.tool,
.header-h1 {
  color: hsl(210, 10%, 33%);
}

.first-header-p,
.header-p {
  margin-top: 1.125rem;
  margin-bottom: 3.125rem;
  font-size: 1.3rem;
  max-width: 42.5rem;
  text-align: center;
}

.first-header-p,
.first-section-p,
.section-p {
  color: hsl(201, 11%, 66%);
}

.first-header-ios-button,
.first-header-mac-button,
.header-ios-button,
.header-mac-button {
  border: none;
  margin-bottom: 9.375rem;
  border-radius: 300px;
  text-decoration: none;
  color: white;
  background-color: hsl(171, 66%, 44%);
  padding: 1.4em 4.79em;
  border-radius: 30px;
}

.first-header-mac-button,
.header-mac-button {
  background-color: hsl(233, 100%, 69%);
}
.first-header-mac-button,
.header-mac-button {
  margin-left: 1rem;
}

.first-header-ios-button:hover,
.first-header-mac-button:hover,
.header-ios-button:hover,
.header-mac-button:hover {
  opacity: 0.7;
}

.first-section-header,
.section-header {
  margin: 0 auto;
  max-width: 695px;
  text-align: center;
}

.first-section-h2,
.section-h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.first-section-p {
  font-size: 1.15rem;
  line-height: 1.4;
  margin-bottom: 5.313rem;
}

.first-section-content {
  display: flex;
  justify-content: space-evenly;
}

.imac {
  max-width: 100%;
  width: 720px;
  height: 570px;
  margin-left: -50px;
}

.snippets-funtions {
  list-style-type: none;
  margin-top: 4.5rem;
}

.snippets-functions1 {
  margin-bottom: 4.063rem;
  line-height: 2.1;
}

.functions1-h1,
.functions2-h1,
.functions3-h1 {
  font-size: 1.3rem;
  color: hsl(210, 10%, 33%);
}

.functions1-p,
.functions2-p,
.functions3-p,
.first-tools-p {
  color: hsl(201, 11%, 66%);
  font-size: 1rem;
  max-width: 340px;
}

.snippets-functions2 {
  margin-bottom: 4.375rem;
}

.imac {
  margin-bottom: 9.688rem;
}

.second-section-p {
  font-size: 1.15rem;
  line-height: 1.4;
  margin-bottom: 6.875rem;
}

.second-section-image {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 850px;
  margin-bottom: 10.75rem;
}

.workflow-section-h2 {
  margin: 0;
}

.workflow-section-p {
  line-height: 2.9;
  margin-bottom: 5rem;
}

.workflow-tools {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.first-tool {
  margin-top: 1rem;
}

.first-tool,
.tool {
  text-align: center;
  max-width: 340px;
}

.first-tool-img,
.tool-img {
  margin-bottom: 2.813rem;
}

.first-tool-h1,
.tool-h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.first-tools-p,
.tool-p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 10.313rem;
}

.partners {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10.625rem;
  flex-wrap: wrap;
}

.last-section-h1 {
  margin-top: 0;
  font-weight: 600;
  font-size: 2rem;
  max-width: 695px;
}

.last-section-p {
  color: hsl(201, 11%, 66%);
}

.footer {
  background-color: hsl(210, 30%, 96%);
}

.footer-icon {
  width: 55px;
  height: 55px;
}

.footer-items {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  min-height: 150px;
}

.conditions {
  list-style: none;
  font-size: 1.125rem;
  color: hsl(210, 10%, 33%);
}

.social-icons {
  list-style: none;
  display: flex;
}

.social {
  margin-left: 1.25rem;
}

.faqs-privacy {
  margin-bottom: 1.563rem;
}

.install-guide {
  margin-bottom: 3rem;
}

@media (max-width: 865px) {
  html {
    background: url(/images/bg-header-mobile.png) no-repeat center;
    background-position: center center;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .landing-page-first-header,
  .last-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 8.125rem;
  }

  .first-header-ios-button,
  .first-header-mac-button {
    display: flex;
    margin: 1.1563rem;
  }

  .first-header-mac-button {
    margin-bottom: 10.313rem;
  }

  .first-header-buttons,
  .header-buttons {
    padding: 2em 4em;
    border-radius: 30px;
    font-size: 1rem;
  }

  .first-section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .imac {
    max-width: 100%;
    width: 310px;
    height: 235px;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
  }

  .snippets-funtions {
    list-style-type: none;

    margin: 0 auto;
  }

  .snippets-functions1 {
    margin-bottom: 3.438rem;
    line-height: 2.1;
  }

  .snippets-functions3 {
    margin-bottom: 11.875rem;
  }

  .imac {
    margin-bottom: 3.438rem;
  }

  .workflow-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tool-p {
    margin-bottom: 3.75rem;
  }

  .partners {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
  }

  .partners-gap-mobile {
    margin-top: 3.75rem;
  }

  .last-section-ios-button,
  .last-section-mac-button {
    display: flex;
    margin: 0 auto;
  }

  .last-section-ios-button {
    margin: 1.1563rem;
  }

  .last-section-mac-button {
    margin-bottom: 10.313rem;
  }

  .footer-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 500px;
  }

  .social-icons {
    display: flex;
  }

  .conditions {
    text-align: center;
  }
}
